export( "translogRayDeriv" )
export( "translogRayEst" )
export( "translogRayMargCost" )

S3method( "print", "summary.translogRayEst" )
S3method( "print", "translogRayEst" )
S3method( "summary", "translogRayEst" )

importFrom( "micEcon", "logDataSet" )
importFrom( "micEcon", "translogEla" )
importFrom( "micEcon", "translogEst" )
importFrom( "miscTools", "checkNames" )
importFrom( "miscTools", "coefTable" )
importFrom( "stats", "coef" )
importFrom( "stats", "df.residual" )
importFrom( "stats", "printCoefmat" )
importFrom( "stats", "vcov" )
